<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smile.smilepublicclasseslibrary">
    <application>
        <activity
            android:name=".privacy_policy.PrivacyPolicyActivity"
            android:label="@string/privacyPolicyString">
        </activity>
    </application>
</manifest>

