<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        tools:replace="android:icon"
        android:name="colorballs.ColorBallsApp"
        android:icon="@drawable/color_balls_app_icon"
        android:label="@string/color_balls_name">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8354869049759576~1891379677" />

        <activity
            android:name="colorballs.views.MainCBallActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="colorballs.views.ColorBallActivity"
            android:exported="false">
        </activity>

        <activity
            android:name="colorballs.views.BarrierCBallActivity"
            android:exported="false">
        </activity>

        <activity
            android:name="ballsremover.views.BallsRemoverActivity"
            android:exported="false">
        </activity>

        <activity
            android:name="fivecolorballs.views.FiveCBallsActivity"
            android:exported="false">
        </activity>

    </application>

</manifest>