<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smile.colorballs">

    <!-- uses-permission android:name="android.permission.WRITE_SETTINGS" / -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:supportsRtl="true"
        android:icon="@drawable/colorballs"
        android:label="${appName}${appNameSuffix}"
        android:theme="@style/AppTheme">
        <activity android:name=".MyActivity"
            android:label="${appName}${appNameSuffix}">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Top10ScoreActivity"
            android:label="@string/title_activity_history" />
        <activity
            android:name=".GlobalTop10Activity"
            android:label="@string/title_activity_global" />
    </application>

</manifest>