<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smile.colorballs">

    <!-- uses-permission android:name="android.permission.WRITE_SETTINGS" / -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ColorBallsApp"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:supportsRtl="true"
        android:icon="@drawable/colorballs"
        android:label="${appName}${appNameSuffix}"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${googleAdMobAppID}${appNameSuffix}"/>

        <activity android:name=".MyActivity"
            android:label="${appName}${appNameSuffix}">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingActivity"
            android:label="@string/settingStr"
            android:theme="@style/AppThemeTransparent">
        </activity>
        <activity
            android:name=".Top10ScoreActivity"
            android:label="@string/title_activity_history" >
        </activity>
        <service
            android:name="com.smile.Service.MyTop10ScoresIntentService"
            android:enabled="true"
            android:exported="false">
        </service>
        <service
            android:name="com.smile.Service.MyGlobalTop10IntentService"
            android:enabled="true"
            android:exported="false">
        </service>
    </application>

</manifest>