<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".ColorBallsApp"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".smileapps.SmileAppsActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8354869049759576~1891379677" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".views.MainCBallActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.ColorBallActivity"
            android:exported="false"></activity>
        <activity
            android:name=".views.BarrierCBallActivity"
            android:exported="false"></activity>
        <activity
            android:name=".views.CbSettingActivity"
            android:exported="false"
            android:label="@string/settingStr"
            android:theme="@style/AppThemeTransparent"></activity>
        <activity
            android:name=".views.Top10Activity"
            android:exported="false"
            android:label="@string/title_activity_history"></activity>

        <service
            android:name=".services.GlobalTop10Service"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.LocalTop10Service"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ballsremover.views.BallsRemoverActivity"
            android:exported="false"></activity>
    </application>

</manifest>