<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smile.smilelibraries">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <service
            android:name=".services.MusicBoundService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".privacy_policy.PrivacyPolicyActivity"
            android:label="@string/privacyPolicyString"
            android:theme="@style/PrivacyPolicyTheme"
            android:exported="true">
        </activity>
    </application>

</manifest>